<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Kinorating</display-name>

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>com.epam.kinorating.controller.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern />
    </servlet-mapping>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.epam.kinorating.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>defaultLocaleFilter</filter-name>
        <filter-class>com.epam.kinorating.filter.DefaultLocaleFilter</filter-class>
        <init-param>
            <param-name>defaultLanguage</param-name>
            <param-value>en</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>defaultLocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>unregisteredUserFilter</filter-name>
        <filter-class>com.epam.kinorating.filter.UnregisteredUserFilter</filter-class>
        <init-param>
            <param-name>ignoredCommands</param-name>
            <param-value>
                index,login,change_language
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>unregisteredUserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>bannedUserFilter</filter-name>
        <filter-class>com.epam.kinorating.filter.BannedUserFilter</filter-class>
        <init-param>
            <param-name>forwardUrl</param-name>
            <param-value>
                WEB-INF/error/banned.jsp
            </param-value>
        </init-param>
        <init-param>
            <param-name>ignoredCommands</param-name>
            <param-value>
                logout,change_language
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>bannedUserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>adminAccessFilter</filter-name>
        <filter-class>com.epam.kinorating.filter.AdminAccessFilter</filter-class>
        <init-param>
            <param-name>adminCommands</param-name>
            <param-value>
                delete_comment,create_film,delete_film,edit_film,add_panel,edit_panel,remove_mark,change_user_ban,set_role,show_users,show_user,update_user
            </param-value>
        </init-param>
        <init-param>
            <param-name>adminRole</param-name>
            <param-value>
                ADMIN
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>adminAccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
